/* ************************************* */
/* ? ************* General ************* */
/* ************************************* */

:root {
   /* ## Colors */
   /* ### Primary */
   --Soft-red: hsl(7, 99%, 70%);
   --Yellow: hsl(51, 100%, 49%);
   /* (graphic design text) */
   --Dark-desaturated-cyan: hsl(167, 40%, 24%);
   /* (photography text) */
   --Dark-blue: hsl(198, 62%, 26%);
   /* (footer) */
   --Dark-moderate-cyan: hsl(168, 34%, 41%);

   /* ### Neutral */
   --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
   --Very-dark-grayish-blue: hsl(213, 9%, 39%);
   --Dark-grayish-blue: hsl(232, 10%, 55%);
   --Grayish-blue: hsl(210, 4%, 67%);
   --White: hsl(0, 0%, 100%);

   /* font-family: "Fraunces", serif; */
   font-family: "Barlow", sans-serif;
   font-size: 18px;
}
*,
*::before,
*::after {
   box-sizing: border-box;
}

html,
body {
   height: auto;
}

.header,
.main,
.footer {
   min-width: 375px;
}

/* ************************************* */
/* ? ************* header ************* */
/* ************************************* */

.header {
   height: 29.9rem;

   background-image: url("../images/mobile/image-header.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;

   padding: 2rem;
   display: flex;
   flex-wrap: wrap;
}

/* ************************************* */
/* ? ************* navBar ************* */

.nav {
   width: 100%;
   height: 15%;

   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.nav__icon {
   width: 24px;
   height: 18px;
   background-image: url(../images/icon-hamburger.svg);
}

.nav__box {
   background-color: white;
   position: relative;

   display: flex;
   flex-direction: column;

   justify-content: space-evenly;
   align-items: center;
   list-style-type: none;
   padding-left: 0;

   height: 18rem;
   width: 100%;

   margin-top: 2rem;
   margin-left: auto;
   margin-right: auto;

   transition: height 0.15s;
}

.nav__box-hiden {
   height: 0;
   transition: height 0.15s;
   overflow: hidden;
}

.nav__box::after {
   content: "";
   width: 30px;
   height: 30px;
   background-color: white;
   position: absolute;
   right: 0;
   top: -29px;
   clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.nav__link {
   text-decoration: none;
   color: var(--Very-dark-grayish-blue);
   font-weight: 700;
}

.nav__link-yellow {
   display: inline-block;
   border-radius: 2rem;
   padding: 1rem 1.5rem;
   color: black;
   text-transform: uppercase;
   background-color: var(--Yellow);
}

/* ************************************* */
/* ? *********** header__box *********** */

.header__box {
   align-self: flex-start;
   height: 80%;
   width: 100%;

   color: white;
   background-image: url(../images/icon-arrow-down.svg);
   background-position: center 10rem;
   background-repeat: no-repeat;
}
.header__title {
   font-size: 2.2rem;
   text-align: center;
   margin: 0;
   letter-spacing: 7px;
   font-weight: 700;
   font-family: "Fraunces", serif;
   text-transform: uppercase;
}

/* ************************************* */
/* ? ************** main ************** */
/* ************************************* */

/* ************************************* */
/* ? ************ boxes-top ************ */

.boxes-top {
   display: flex;
   flex-wrap: wrap;
}

.box {
   order: 1;
   width: 100%;
   height: 375px;

   background-size: cover;
   background-position: center;
}
.box-egg {
   order: 0;
   background-image: url(../images/mobile/image-transform.jpg);
}

.box-text {
   padding: 2rem 1.5rem;
   text-align: center;
}

.box-text__title {
   font-family: "Fraunces", serif;
   color: var(--Very-dark-desaturated-blue);
   margin: 1rem;
   font-size: 1.9rem;
   font-weight: 900;
}

.box-text__paragraph {
   color: var(--Very-dark-grayish-blue);
   line-height: 140%;
}

.box-text__btn {
   background-color: transparent;
   border: none;
   margin-top: 1rem;
   padding-bottom: 0;
   border-bottom: 0.3rem solid var(--Yellow);
   font-family: "Fraunces", serif;
   text-transform: uppercase;
}

.box-text__btn-rose {
   border-bottom: 0.2rem solid var(--Soft-red);
}

.box-rose {
   background-image: url(../images/mobile/image-stand-out.jpg);
}

.box-mix {
   height: 570px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: center;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   padding-bottom: 3rem;
   color: var(--Dark-blue);
   background-image: url(../images/mobile/image-graphic-design.jpg);
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
}

.box-mix__title {
   font-family: "Fraunces", serif;
   font-weight: 900;
}

.box-mix__paragraph {
   line-height: 150%;
   font-weight: 600;
}

.box-mix-graphic {
   background-image: url(../images/mobile/image-photography.jpg);
}
.box-mix__buttom {
   height: auto;
   margin-top: auto;
}

/* ************************************* */
/* ? ********** boxes-middle ********** */

.boxes-middle {
   text-align: center;
   margin-top: 3rem;
}

.boxes-middle__title {
   text-transform: uppercase;
   letter-spacing: 0.2rem;
   font-size: 1.2rem;
   font-family: "Fraunces", serif;

   color: var(--Grayish-blue);
}

.card {
   margin-top: 3rem;
   padding: 1rem 2rem;
   padding-bottom: 0;
}

.card__figure {
   width: 85px;
   height: 85px;
   margin: 0 auto;
   margin-top: 0.5rem;
   outline: hidden;
}

.card__img {
   border-radius: 50%;
   max-width: 100%;
}

.card__paragraph {
   margin-top: 1.5rem;
   line-height: 160%;
   font-size: 1.06rem;
   opacity: 0.9;
   font-weight: 500;
}

.card__name {
   font-weight: 900;
   font-size: 1.1rem;
   margin-bottom: 0;
}

.card__action {
   margin-top: 0.5rem;
   font-size: 0.95rem;
   color: var(--Grayish-blue);
}

/* ************************************* */
/* ? ********** boxes-bottom ********** */

.boxes-bottom {
   width: 100%;
   height: 357px;
   display: flex;
   flex-wrap: wrap;
}

.box-bottom {
   width: 50%;
   height: 50%;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.box-bottom:nth-child(1) {
   background-image: url(../images/mobile/image-gallery-milkbottles.jpg);
}
.box-bottom:nth-child(2) {
   background-image: url(../images/mobile/image-gallery-orange.jpg);
}
.box-bottom:nth-child(3) {
   background-image: url(../images/mobile/image-gallery-cone.jpg);
}
.box-bottom:nth-child(4) {
   background-image: url(../images/mobile/image-gallery-sugar-cubes.jpg);
}

/* ************************************* */
/* ? ************* footer ************* */
/* ************************************* */

.footer {
   background-color: var(--Dark-moderate-cyan);
   height: 400px;
   width: 100%;
   display: flex;
   flex-direction: column;
}

.footer-top {
   padding-top: 3rem;
   width: 100%;
   height: 50%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.footer__logo {
   height: 2rem;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   width: 15rem;
}

.footer__img {
   height: auto;
   width: 50%;
}
.footer__links {
   padding: 0;
   display: flex;
   justify-content: space-evenly;
}

.footer__item {
   list-style: none;
}
.footer__link {
   text-decoration: none;
   color: var(--Dark-desaturated-cyan);
   font-size: 1.1rem;
}

.footer-bottom {
   height: 50%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer-bottom__icons {
   width: 50%;
   display: flex;
   justify-content: space-evenly;
   color: var(--Dark-desaturated-cyan);
}

/* ************************************* */
/* ? ************* Desktop ************* */
/* ************************************* */

@media screen and (min-width: 767px) {
}
